### UMap ###
umap/settings/local.py
umap/settings/local/*
umap/settings/prod.py
docs/_build
umap/remote_static
tmp/*
node_modules/*
umap/static/umap/vendors
site/*
.pytest_cache/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Mac
.DS_Store
